:root{
  --mainBlue:#0026cf;
  --lightBlue:#238adf;
  --mainWhite: #ffffff;
  --mainDark:#232528;
  --mainYellow:#ffa400;
  --mainGreen:#0ea835;
  --lightGreen:#0ea888;
}

body{
  font-family: "Oswald", sans-serif !important;
  background: var(--mainWhite) !important;
  color:var(--mainDark) !important;
}
.text-title{
  font-family: 'Anton', cursive;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
}
.text-green{
  color: var(--mainGreen);
}
.text-blue{
  color: var(--mainBlue);
}
.text-bright{
  color: var(--lightBlue);
}
.btn-green{
  background:transparent;
  text-transform: capitalize;
  font-size: 0.8rem !important;
  color:var(--mainGreen);
  border-radius: 0 !important;
  border: 0.1rem solid var(--mainGreen) !important;
}
.btn-green:hover{
  background: var(--mainGreen) !important;
  color: var(--mainWhite) !important;
}
.btn-black{
  background:transparent;
  text-transform: capitalize;
  font-size: 0.8rem !important;
  color:var(--mainDark);
  border-radius: 0 !important;
  border: 0.1rem solid var(--mainDark) !important;
}
.btn-black:hover{
  background: var(--mainDark) !important;
  color: var(--mainWhite) !important;
}
.cart-icon {
  cursor: pointer;
  font-size: 1.2rem;
  color: var(--mainYellow);
}
